---
---

// 1. Définissez vos nouvelles couleurs ici (AVANT l'import)
$background-color: #F2F1ED;  // Couleur de fond principale  F2EAD8    F2F1ED
$text-color: #3D5D3D;       // Couleur du texte 3D5D3D
$link-color: #3D5D3D;       // Couleur des liens hypertexte
$primary-color: #F2F1ED;    // Couleur d'accentuation principale

@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

/* Custom quasar banner */

.layout--home .page__hero-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

/* Navigation over the home banner */

.layout--home .masthead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
  }