---
---

// 1. Définissez vos nouvelles couleurs ici (AVANT l'import)
$background-color: #F2EAD8; // Couleur de fond principale
$text-color: #3D5D3D;       // Couleur du texte
$link-color: #3D5D3D;       // Couleur des liens hypertexte
$primary-color: #afccaf;    // Couleur d'accentuation principale


@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

/* Custom banner */

.page__hero--overlay {
    height: 10px;
    overflow: hidden;
  }
  
  .page__hero--overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }