---
---

// $background-color: #F2EAD8;
// $text-color: #3D5D3D;
// 1. Définissez vos nouvelles couleurs ici (AVANT l'import)
$background-color: #ffffff; // Couleur de fond principale
$text-color: #222222;       // Couleur du texte
$link-color: #0076df;       // Couleur des liens hypertexte
$primary-color: #ff5722;    // Couleur d'accentuation principale


@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";